.quote {
    text-align: center;
    text-justify: auto;
    
}

input.form-control.textBox {
    width: 15em;
}

.quickTrip {
    width: 100%;
}

.instHead {
    text-align: center;
}

.navnomargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel1Height {
    height: 250px;
    overflow: hidden;
    
    
}

.panel2Height {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;   
}

#glider {
    color: white;
    height: 100px;
    background-image: url("../images/hanggliderphoto2.png");
    background-size: cover;
}