<div class="panel flights-panel" id="view-flights">
                    <div class="row flights-panel-title">
                        <div class="col-xs-3">
                            <b>KRK - CDG</b>
                        </div>
                        <div class="col-xs-3 flight-dates">
                            28.02-03.03
                        </div>
                        <div class="col-xs-4 lowest-fare">
                            Lowest Fare: <b>USD$324</b>
                        </div>
                        <div class="col-xs-2 button-right">
                            <button class="btn close-button" id="abandon-flights-view">CLOSE</button>
                        </div>
                    </div>
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-1" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse in" id="content-1">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-2" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-2">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-3" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-sm-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-3">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-4" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-4">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-5" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-5">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-6" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-6">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-7" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-7">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-8" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-8">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-9" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-9">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading vertical-center">
                                <div class="panel-title row">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9 flight-info"  id="flight-info">     
                                        <a href="#content-10" data-toggle="collapse" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>20:10</b> KRK   ->   <b>22:30</b> CDG
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    Lufthansa  
                                                </div>
                                                <div class="col-xs-4">
                                                    <b>07:10</b> CDG   ->   <b>09:30</b> KRK
                                                </div>
                                                <div class="col-xs-2">
                                                    2h 10m
                                                </div>
                                                <div class="col-xs-2">
                                                    non-stop
                                                </div>
                                                <div class="col-xs-2">
                                                    <img class="img" src="images/caret.svg">
                                                </div>    
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="content-10">
                                <div class="panel-body">
                                    <div class="col-sm-3 flight-price" id="flight-price">
                                        USD$324
                                    </div>
                                    <div class="col-sm-9"  id="flight-info-more">     
                                        <div class="flight-no">
                                            Lufthansa   Flight no. 246960
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>20:10</b> KRK   
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>22:30</b> CDG
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                        <div class="flight-no">
                                                Lufthansa   Flight no. 2369621
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                D: <b>07:10</b> CDG  
                                            </div>
                                            <div class="col-xs-3">
                                                A: <b>09:30</b> KRK 
                                            </div>
                                            <div class="col-xs-3">
                                                2h 10m
                                            </div>
                                            <div class="col-xs-3">
                                                non-stop
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>